h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
}
h2 {
    color: darkslategray;
    border: 100px;
    margin-left: 100px;
}

video {
    margin-left: 400px;
}

h3 {
    text-align: center;
    font-style: normal;
    font-size: 30px;
    color: #00265E;
}

h4 {
    text-align: center;
    font-style: normal;
    font-size: 30px;
    color: #145407;
}

h5 {
    text-align: center;
    font-style: normal;
    font-size: 30px;
    color: #5E0000;
}
img{
    margin-left: 400px;
}

h6 {
    text-align: center;
    font-size: 35px;
    color: black;
}


